#calendar-filters{
    width: 100%;
    display: flex;

    fieldset{
        flex: 1;
        border: none;

        label{
            font-weight: bold;
        }
    }
    button{
        width: 10em;
    }
}
#calendar-container{
    position: relative;
    margin: 1em 0;
}