#calendar-filters{
    width: 100%;
    display: flex;

    fieldset{
        flex: 1;
        border: none;

        label{
            font-weight: bold;
        }
    }
    button{
        width: 10em;
    }
}
#calendar-container{
    position: relative;
    margin: 1em 0;
}
button.dei-filters{
    border: none;
    margin: 0 .5em;
}
button.dei-filters.say{
    background-color: #34eb65;
}
button.dei-filters.senior{
    background-color: #3443eb;
    color: #fff;
}
button.dei-filters.d-s{
    background-color: #ebc934;
}
button.dei-filters.dhc{
    background-color: #eb4034;
    color: #fff;
}